@page
@model ShoppingAssignment_SE150854.Pages.Orders.OrderHistoryModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order history";
}


@if (HttpContextAccessor.HttpContext.Session.GetString("ROLE") == "Admin")
{
    <div>
        <h3>Total Order: @Model.TotalOrder</h3>
    </div>
    <div>
        <h3>Total Income: @Model.TotalIncome</h3>
    </div>
    <div>
        <h3>Total Product Sold: @Model.TotalProductSold</h3>
    </div>
}

@if (Model.orderList.Count > 0)
{
    <div class="my-3">
        <form method="post">
            <button class="btn btn-success" type="submit">Sort</button>
        </form>
    </div>
    <table class="table table-striped table-bordered mydatatable">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Shipping address
                </th>
                <th>
                    Freight
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.orderList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Freight)
                    </td>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("ROLE") == "Admin")
                    {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                            <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>There is no order</h1>
}

<script type="text/javascript">
    window.onload = function() {
        if ('@TempData["Message"]' != "") {
            alert('@TempData["Message"]');
        }
    };
</script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

